body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #f5f5f5, #e3e6e8);
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    margin-top: 50px;
    margin-bottom: 60px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    color: #222;
    font-weight: bold;
    text-transform: uppercase;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.demos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.element {
    background: #ffffff;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    max-width: 320px;
    text-align: center;
    margin: 15px;
    overflow: hidden;
}

.element img {
    max-width: 100%;
    height: 220px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.element:hover img {
    transform: scale(1.05);
}

.element:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.demos a {
    display: inline-block;
    padding: 14px 24px;
    margin-top: 15px;
   background-color: #6b6969;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.demos a:hover {
    transform: scale(1.3);
}

.meteo img{
    width: 270px;
}

/* Media Queries */
@media (max-width: 1024px) {
    .container {
        padding: 15px;
    }
    h1 {
        font-size: 38px;
    }
    .element {
        max-width: 270px;
    }
}

@media (max-width: 768px) {
    .demos {
        flex-direction: column;
        align-items: center;
    }
    .element {
        max-width: 90%;
    }
    h1 {
        font-size: 32px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 28px;
        margin-bottom: 50px;
    }
    .element {
        max-width: 100%;
        padding: 20px;
    }
    .demos a {
        padding: 12px 22px;
    }
}
